/*div.image_column:nth-child(odd) .image_holder{
	max-height:400px !important;
	max-width:320px !important;
	height:400px !important;
	width:320px !important;
	float:left;
	overflow:hidden;
	position:relative;
	display:inline-block;
	background-size:100%;
	background:black;
}
div.image_column:nth-child(even) .image_holder{
	max-height:268px !important;
	max-width:498px !important;
	height:268px !important;
	width:498px !important;
	float:left;
	overflow:hidden;
	position:relative;
	display:inline-block;
	background:black;
	background-size:100%;
}
img{
	position:relative;
	max-width:100%;
	max-height:100%;
	display:inline-block;
}*/
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-2, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
	padding:0 !important;

}
body{
	background:#002255;
	
}
p{
	position:relative;
	max-width:100%;
	display:inline-block;
	float:left;
	background:rgba(0,0,0,.75);
	bottom:200px;
	left:20px;
	color:white;
	z-index:100;
	padding:0;
	margin:0;
}
div#border{
	border:gold groove 30px;
	position:absolute;
	top:0;
	left:0;
	height:98vh;
	width:99vw;
	z-index:100000000000;
	
}
.rotate {

    -webkit-animation:spin 10s linear infinite;
    -moz-animation:spin 10s linear infinite;
    animation:spin 10s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }